---
layout:           index
title:  		  邱金武的博客
---
<h4>邱金武的博客</h4>

<ol>
 {% for post in site.posts %}
  <li><a href="{{ post.url }}">{{ post.title }}</a></li>
 {% endfor %}
</ol>
 
 
<div id=float_top_right>

<script>
(function() {
  var cx = '000743863249122818147:j_aeulgywie';
  var gcse = document.createElement('script'); gcse.type = 'text/javascript';
  gcse.async = true;
  gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
      '//www.google.com/cse/cse.js?cx=' + cx;
  var s = document.getElementsByTagName('script')[0];
  s.parentNode.insertBefore(gcse, s);
})();
</script>
<gcse:search></gcse:search>

<h4>&nbsp;分类浏览</h4>
<ol>
    {% for category in site.categories %}
    <li>
    <a href="/categories/{{ category | first }}/" title="查看此类别的所有文章">
        {{ category | first }}({{ category | last | size }})</a>
    </li>
    {% endfor %}
</ol>
</div>

    

 
