---
layout: default
comments: true
---

<link href="/js/google-code-prettify/prettify.css" type="text/css" rel="stylesheet"/>
<script type="text/javascript" src="/js/google-code-prettify/prettify.js"></script>
<script type="text/javascript">
$(document).ready(function(){
    $('pre').addClass('prettyprint linenums:0') //添加Google code Hight需要的class
	
	// 导入Prettify的javascript
    prettyPrint()
})
</script>
<strong>导航：[<a href="/">首页</a>]->[<a href="/categories/{{page.categories}}/">{{page.categories}}</a>]->[<a href="{{page.url}}">{{page.title}}</a>]</strong>

{{ content }}

<br>
<br>
<hr>
<br>
<div id="disqus_thread"></div>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'qjw'; // required: replace example with your forum shortname

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

<div id=float_top_right>
<h4>&nbsp;分类浏览[{{page.categories}}]</h4>
<ul>
    {% for category in site.categories %}
    <li>
    <a href="/categories/{{ category | first }}/" title="查看此类别的所有文章">
        {{ category | first }}({{ category | last | size }})</a>
    </li>
    {% endfor %}
</ul>
</div>

